.wholeCalculater{
      text-align: center;
      background-image: linear-gradient(to bottom, #0f942a, #52a64f, #7cb873, #a1ca98, #c5dcbe);
      width: 220px;
      margin: 0 auto;
      border-radius: 20px;
      box-shadow: 10px 10px 15px rgb(98, 150, 21);
      
}

.operations{
      padding-top: 20px;
      
}

.firstColum{
   
    padding-top: 10px;
    
}

.secondColum{
   
      padding-top: 10px;
      
  }

  .thirdColum{
   
      padding-top: 10px;
      
  }

  .fourthColum{
   
      padding: 15PX;
      
  }

.reset{
      margin: 15px;
      background-color: white;
}

.calculation{
      padding-top: 20px;
}
.C{
      padding: 15px;
      border-radius:  0 0 15px 15px ;
      font-size: 20px;
}

.calculationText{
      font-size: 30px;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.biggerButtons{
      height: 35px;
    width: 35px;
}

 


