<!DOCTYPE html>
<html>

<head>

<title>springDemo</title>
      
</head>

<body> 
<h1>// joel ? joel.coffee : fatmir.coffee;</h1>
<hr>

<h1>Willkommen beim Taschenrechner auf Wish</h1>
<hr>
	<h2 th:text="${noCalculation == true ? ':D':'Rechnung: ' + num1 +  operator2  + num2 + ' = ' + result}"/>
	
	<form>
	  <label for="firstNumber">First number:</label><br>
	  <input type="text" id="fNumber" name="num1"><br>
	  <label for="secondNumber">Second Number:</label><br>
	  <input type="text" id="sNumber" name="num2"><br>
	  <label for="operator">Operator :</label><br>
	  <input type="submit" name="add" value="+">
	  <input type="submit" name="sub" value="-">
	  <input type="submit" name="multi" value="*">
	  <input type="submit" name="div" value="/">
	</form>	

</body>

</html>