<!DOCTYPE html>
<html>

<head>

<title>springDemo</title>

<link href="/style.css" rel="stylesheet">
<script src="/calculator.js" type="text/javascript" defer></script> <!-- defer == niedrige prio -->

      
</head>

<body>
<h1>// joel ? joel.coffee : fatmir.coffee;</h1>
<hr>

<h1>Willkommen beim Taschenrechner auf Wish</h1>
<hr>
		
	<div class="wholeCalculater">
	
		<div class="calculation">
			<label for="calculation">Calculation</label><br>
			<input type="text" th:value="${result}"><br>
			
		</div>
		<form>
		
		<input class="firstNumber" type="text" th:value="${firstNumber == 0 ? '' : firstNumber}" name="firstNumber">
		<input class="operator"  type="text" th:value="${operator == '?' ? '' : operator}" name="operator">
		<input class="secondNumber" type="text"  th:value="${secondNumber == 0 ? '' : secondNumber}" name="secondNumber">
		
		<div class="operations">
			<button name="operationAdd" type="button" value="+"> + </button>
			<button name="operationSub" type="button" value="-"> - </button>
			<button name="operationMulti" type="button" value="*"> * </button>
			<button name="operationDiv" type="button" value="/"> / </button>
		</div>
		
		<div class="firstColum">
		
			<button name="button" type="button" value="1"> 1 </button>
			<button name="button" type="button" value="2"> 2 </button>
			<button name="button" type="button" value="3"> 3 </button>
		</div>
		<div class="secondColum">
		
			<button name="button" type="button" value="4"> 4 </button>
			<button name="button" type="button" value="5"> 5 </button>
			<button name="button" type="button" value="6"> 6 </button>
		</div>
		<div class="thirdColum">
		
			<button name="button" type="button" value="7"> 7 </button>
			<button name="button" type="button" value="8"> 8 </button>
			<button name="button" type="button" value="9"> 9 </button>
			
			
		</div>
		<div class="fourthColum">
		
			<button name="button" type="button" value="0"> 0 </button>
			<button type="submit" name="button" value="="> = </button>
			<a href="http://localhost:8080/calcPro">C</a>
		</div>
		</form>
		
	</div>
	

</body>

</html>

