<!DOCTYPE html>
<html>

<head>

<title>springDemo</title>

<link href="style.css" rel="stylesheet">


      
</head>

<body>
<h1>// joel ? joel.coffee : fatmir.coffee;</h1>
<hr>

<h1>Willkommen beim Taschenrechner auf Wish</h1>
<hr>
	
	<form>
	
	<div class="wholeCalculater">
	
		<div class="calculation">
			<label for="calculation">Calculation</label><br>
			<input type="text" th:value="${result}"><br>
			
		</div>
		
		<div class=arithmeticSymbol>
			<div id="operations">
				<input type="submit" name="operator" value="+">
				<input type="submit" name="operator" value="-">
				<input type="submit" name="operator" value="*">
				<input type="submit" name="operator" value="/">
			</div>
			
			<div class="firstColum">
				<input type="submit" th:name="newInput" value="1"> <!-- dynamisch mit <th:xy="${z}"> -->
				<input type="submit" th:name="newInput" value="2">
				<input type="submit" th:name="newInput" value="3">
			</div>
			
			<div class="secondColum">
				<input type="submit" th:name="newInput" value="4">
				<input type="submit" th:name="newInput" value="5">
				<input type="submit" th:name="newInput" value="6">
			</div>
			
			<div class="thirdColum">
				<input type="submit" th:name="newInput" value="7">
				<input type="submit" th:name="newInput" value="8">
				<input type="submit" th:name="newInput" value="9">
				
			<div class="fourthColum">
				<input type="submit" th:name="newInput" value="0">
				<input type="submit" name="." value=".">
				<button type="submit" name="execute" value="true"> = </button>
				<div class="reset">
					<a href="/calcPro">C</a>
				</div>
								
			</div> 
			</div>
		</div>
	</div>
	
	<div th:if="${firstNumber.length >= 0}">
		<input th:value = "${firstNumber}" name = "firstNumber">
	</div>
	
	<div th:if="${operator.length < 2}" >
		<input th:value = "${operator}" name = "operator">
	</div>
	
	<div th:if="${secondNumber.length >= 0}">
		<input th:value = "${secondNumber}" name = "secondNumber">
	</div>
		
	</form>	

</body>

</html>